.content-bg-info{
    background-color: #F4FAFD! important;
}
.content-bg-primary{
    background-color: #289BDE;
}
.btn-text-primary:hover{
    color: white;
}





.carousel-item {
	
    
    opacity: .5; 
    
}
